<h2>My heroes</h2>

<ul class="heroes">
    <!-- (click)="onSelect(hero)" adds click event binding. Click tells angular to listen for click in the element. When clicked, angular executes onSelect(hero) expression -->
    <!-- class.selected toggles style (=class binding) to use when this li equals selectedHero -->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <!-- *ngFor is Angular's repeater directive -->
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
    
</ul>


